@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    src:
      local("Gilroy-Light"),
      url("/fonts/Gilroy-Light.woff") format("woff");
  }

  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src:
      local("Gilroy-Regular"),
      url("/fonts/Gilroy-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    src:
      local("Gilroy-Medium"),
      url("/fonts/Gilroy-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    src:
      local("Gilroy-Bold"),
      url("/fonts/Gilroy-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    src:
      local("Gilroy-Heavy"),
      url("/fonts/Gilroy-Heavy.woff") format("woff");
  }

  .inner {
    @apply mx-auto w-full max-w-screen-xl;
  }
}

@layer components {
  .btn {
    @apply w-fit rounded-md bg-[hsla(273,70%,36%,1)] text-center text-base font-medium text-white transition-colors hover:bg-[hsla(273,70%,45%,1)] active:bg-[hsla(273,70%,36%,1)];
  }

  .btn-icon {
    @apply flex flex-row items-center gap-2;
  }

  .btn-small {
    @apply px-[14px] py-2;
  }

  .btn-big {
    @apply px-6 py-3;
  }

  .btn-large {
    @apply w-full p-2 font-semibold;
  }

  .rounded-btn {
    @apply rounded-full bg-[hsla(0,0%,100%,1)] shadow-[0px_1.5px_3px_0px_hsla(0,0%,0%,0.08),_0px_0px_4.5px_0px_hsla(0,0%,0%,0.02)] ring-1 ring-[hsla(0,0%,79%,1)] transition-all hover:scale-105 hover:text-[hsla(273,70%,36%,1)] hover:ring-[hsla(273,70%,36%,1)] focus:outline-none;
  }

  .swiper-custom-bullet {
    @apply size-2 rounded-full bg-[hsla(273,70%,36%,1)] opacity-30;
  }

  .swiper-custom-bullet.swiper-custom-bullet-active {
    @apply opacity-100;
  }
}

@layer utilities {
  .result-clip {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  .result-clip:nth-child(3) {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  @media screen and (min-width: 640px) and (max-width: 1023px) {
    .result-clip:nth-child(1) {
      clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .must-watch-text {
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
  }

  .gradient {
    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 1) 30%,
      hsla(0, 0%, 100%, 0.8) 50%,
      hsla(0, 0%, 100%, 0.6) 65%,
      hsla(0, 0%, 100%, 0.4) 75%,
      hsla(0, 0%, 100%, 0.2) 85%,
      hsla(0, 0%, 100%, 0) 100%
    );
  }
}
